@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --prime-color: rgb(56, 64, 84);
  --secondary-color: rgb(140, 81, 245);
  --prime-font-color: rgb(219, 219, 219);
  --third-color: rgb(0, 255, 225);
  --fourth-color: rgb(200, 215, 28);
  --secondary-font-color: rgb(255, 255, 255);
  --btn-radius: 15px;
  --large-font: 25px;
  --light-bg-color: white;

  --cell-size: 2.2rem;
  --cell-padding: 0.3rem;
  --table-font-size: 20px;
  --icon-size: 22px;
  --highlight-stroke-weight: calc(var(--table-font-size) * 1.2);
  --highlight-color: rgb(255, 217, 0);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

button:hover {
  cursor: pointer;
}

button {
  --bg-color: var(--prime-color);
  --font-color: var(--prime-font-color);
  border: none;
  border: none;
  min-height: 2rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

button:active {
  box-shadow: none;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--light-bg-color);
  z-index: 999;
}
main {
  max-height: 100dvh;
  max-height: 100vh;
}

#gameboard {
  min-width: 100vw !important;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: large;
}

#gameboard-center {
  --scale-ratio: 1;
  transform-origin: center top;
  transform: scale(var(--scale-ratio));
  padding: 1rem;

  max-width: min-content;
}

#header {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
}
#logo {
  cursor: pointer;
  align-items: flex-end;
  font-weight: bold;
  margin: 1rem;
  flex-wrap: wrap;
}
#logo div.logo-search {
  padding: 0;
  font-size: 16px;
  line-height: 16px;
}
#logo > div.logo-word {
  font-size: 32px;
  line-height: 32px;
  border-radius: 9999px;
  padding: 0 1rem;
  background-color: var(--highlight-color);
}

#main-menu {
  margin-top: 5rem;
  flex-wrap: wrap;
}

#scoreboard {
  position: relative;
  width: 100%;
  display: flex;
  font-weight: bold;
  font-size: large;
  padding: 10px 0;
}
#scoreboard :last-child {
  margin-left: auto;
}
#scoreboard > * {
  display: flex;
}

#table-wrapper {
  overflow: hidden;
  position: relative;
}

.debug {
  position: absolute;
  top: 5px;
  height: 1rem;
  width: fit-content;
  font-size: x-small;
}

.highlight {
  position: absolute !important;
  height: var(--highlight-stroke-weight);
  background-color: var(--highlight-color);
  z-index: -2;
  width: 0;
  transform-origin: left;
}

.highlight::before {
  content: '';
  display: inline-block;
  position: absolute !important;
  background-color: var(--highlight-color);
  right: 100%;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  height: var(--highlight-stroke-weight);
  width: calc(var(--cell-size) / 2);
}
.highlight::after {
  content: '';
  display: inline-block;
  position: absolute !important;
  left: 100%;
  background-color: var(--highlight-color);
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  height: var(--highlight-stroke-weight);
  width: calc(var(--cell-size) / 2);
}

.highlight.selection {
  transition: width 0.1s;
  z-index: -1;
  --highlight-color: aqua;
}

/* >Modal Styles*/
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 1rem;
  background-color: rgb(242, 242, 242);
  min-width: 400px;
  min-height: 300px;
}
.modal > .foot {
  margin-top: auto;
}
.modal > .body {
  margin-top: 1rem;
  font-size: large;
}
.modal > .header {
  font-size: larger;
  font-weight: bold;
  margin-top: 1rem;
}

.modal button,
.modal a {
  background-color: var(--prime-color);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: large;
}

.overlay .modal {
  opacity: 0;
  transform: translateY(40px);
  animation: forwards 0.4s fade-in ease-in-out;
}
/* <Modal Styles*/

.popup {
  --lifetime: 1s;
  opacity: 0;
  animation: fade-in-out var(--lifetime) ease-in-out;
  animation-iteration-count: 1;
  position: absolute;
  left: 100%;
  top: 0;
  color: green;
}

/* >Play Button Styles */
.play-btn .arrows {
  --icon-height: 22px;
  position: relative;
  width: 0px;
  height: var(--icon-height);
  transform: rotateY(90deg);
  transition: transform 0.2s, width 0.4s ease-in-out;
}
.play-btn:hover .arrows {
  position: relative;
  margin-left: 5px;
  width: 25px;
  transform: rotateY(0);
}

.arrows .icon {
  background: var(--prime-font-color);
}

.play-btn .arrows > * {
  position: absolute;
  left: 50%;
}

.arrows :first-child {
  left: 0;
}
.arrows :last-child {
  left: 100%;
}
/* <Play Button Styles */

.size-input > input::-webkit-outer-spin-button,
.size-input > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.size-input > input[type='number'] {
  outline: 1px;
  border: none;
  width: 3rem;
  font-size: large;
  font-weight: bold;
  min-height: 1.5rem;
  text-align: center;
  background-color: transparent;
  color: var(--prime-font-color);
}

.size-input button {
  background-color: transparent;
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
.size-input button:first-child {
  left: 0;
}
.size-input button:last-child {
  right: 0;
}
.size-input:hover button,
.size-input:focus-within button {
  opacity: 1;
}

.size-input {
  position: relative;
  padding: 0.5rem;
  transition: padding 0.4s;
}
.size-input:hover,
.size-input:focus-within {
  padding: 0.5rem 1rem;
}

.size-selector {
  background-color: var(--prime-color);
  color: var(--prime-font-color);
  width: fit-content;
}
.size-selector .icon {
  background-color: var(--prime-font-color) !important;
}

.table td {
  min-width: var(--cell-size);
  min-height: var(--cell-size);
  height: var(--cell-size);
  padding: var(--cell-padding);
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-collapse: collapse;
}
.table td p {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}
.table {
  border-collapse: collapse;
  user-select: none;
  table-layout: fixed;
  text-wrap: nowrap;
  font-size: var(--table-font-size);
}

.timer {
  background-color: var(--prime-color);
  color: var(--prime-font-color);
  font-size: 14px;
  font-weight: bold;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  width: fit-content;
}

.wordlist {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.wordlist > p {
  margin-right: 1rem;
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.wordlist > p.found {
  text-decoration: line-through;
  color: rgb(124, 124, 124);
}

@keyframes fade-in-out {
  20%,
  80% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(-25px);
    opacity: 0;
  }
}
@keyframes fade-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes jump {
  25% {
    transform: translateY(-20%);
  }
  75%,
  100% {
    transform: translate(0);
  }
}
