#gameboard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1rem;
  min-width: min-content;
  justify-content: center;
  align-items: center;
}

#gameboard-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: min-content;
}

#table-wrapper {
  border: 1px solid gray;
  border-radius: 25px;
  overflow: hidden;
}

.table td {
  min-width: 2rem;
  min-height: 2rem;
  height: 2rem;
  padding: 0.4rem;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  display: inline-block;
  overflow: hidden;
  word-wrap: break-word;
  border-collapse: collapse;
}
.table td p {
  margin-top: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}
.debug {
  position: absolute;
  top: 5px;
  height: 1rem;
  width: fit-content;
  font-size: x-small;
}
.table {
  border-collapse: collapse;
  user-select: none;
  table-layout: fixed;
  text-wrap: nowrap;
}

.selected {
  background-color: orange;
  border-color: orange !important;
  color: whitesmoke;
}

td.found {
  background-color: greenyellow;
}

.red-border {
  border: 1px solid red;
}

.wordlist {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.wordlist > p {
  margin-right: 1rem;
  margin-top: 5px;
  font-size: large;
  text-transform: uppercase;
  font-weight: bold;
}
.wordlist > p.found {
  text-decoration: line-through;
  color: rgb(124, 124, 124);
}

.word-letter {
  background-color: aqua;
}
